/*.nav-container {*/
/*    width: 1000px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    background-color: orange;*/
/*}*/

nav{
   display: flex;
    background-color: orange;
}

.nav-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 10px;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*align-self: end;*/
}

.nav-logo-title{
    display: flex;
}
/*nav {*/
/*    width: 100%;*/

/*}*/

